<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tasty Tableau</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  {{!--
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"> --}}
  <script src="https://kit.fontawesome.com/206b7f0e4d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>Tasty Tableau</header>
    <a href="/" class="">
      <i class="fas fa-home" style="color: #86e2ff;"></i>
      <span>Home</span>
    </a>
    <a href="/dashboard">
      <i class="fas fa-table" style="color: #86e2ff;"></i>
      <span>Dashboard</span>
    </a>
    {{#if logged_in}}
    <a href="#" id="logout">
      <i class="fa-solid fa-arrow-right-from-bracket" style="color: #86e2ff;"></i>
      <span>Logout</span>
    </a>
    {{else}}
    <a href="/login">
      <i class="fa-solid fa-arrow-right-to-bracket" style="color: #86e2ff;"></i>
      <span>Login</span>
    </a>
    {{/if}}
    <a href="/about">
      <i class="fas fa-question-circle" style="color: #86e2ff;"></i>
      <span>About</span>
    </a>
    <a href="/team">
      <i class="fa-regular fa-handshake" style="color: #86e2ff;"></i>
      <span>The Team</span>
    </a>
  </div>
  {{#if logged_in}}
  <a href='http://localhost:3001/dashboard'class='profile'>
    <div class='bar'>
     <p>{{user}}</p>
    </div>
    <div class='bubble'>
      <i class="fas fa-user" id="btn"></i>
    </div>
  </a>
  {{else}}
    <a href='http://localhost:3001/dashboard'class='profile'>
    <div class='bar'>
      <p class='login-center'>Login</p>
    </div>
  </a>
  {{/if}}
</body>

<div class="container m-auto col-8">
  {{{body}}}
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>

{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/search.js"></script>
<script src="/js/favorite.js"></script>

</body>

</html>