<a href="/" class="align-baseline" style="display: flex; flex-direction: column; justify-content: center; height: 100%; width: 100%;">
     <h1 class="mx-auto text-dark">Oops! Something went wrong.</h1>
     <h1 class="mx-auto text-dark">Click here to go back...</h1>
</a>