<div class="col-md-6 mx-auto my-5">
    <p class="fs-2">Welcome to Tasty Tableau,</p>
    <p class="fs-4">A comprehensive culinary platform that empowers users to explore, discover, and savor a world of recipes. Our
        website offers a delightful and engaging experience, enabling users to create personalized accounts, search for
        a wide variety of recipes, access and contribute reviews, and save their favorite recipes for future reference.
    </p>
    <p class="fs-4">Whether you're a seasoned chef or a home cook looking for culinary inspiration, Tasty Tableau is your go-to
        destination for a delectable journey through the world of gastronomy. Join us today to embark on your culinary
        adventure!</p>
</div>