<<<<<<< HEAD
=======

>>>>>>> dbf0a717af7040e8c485b91df43bf73efe36d00b
<div class="mt-5">
    <p class="fs-2">Your Dashboard</p>
</div>

<a href="/newrecipe">Click to add a new recipe</a>

<div>
    <p>Your Recipes:</p>
    <div class="d-flex flex-wrap">
        {{#each userRecipes as |recipe|}}
        {{>recipe-preview}}
        {{/each}}
    </div>
</div>

<div>
    <p>Your favorites</p>
    <div class="d-flex flex-wrap">
        {{#each favorites as |favorite|}}
        {{>favorite-preview}}
        {{/each}}
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> dbf0a717af7040e8c485b91df43bf73efe36d00b
