
<div class="mt-5">
    <p class="fs-2">Your Dashboard</p>
</div>

<div>
    <p>Your Recipes:</p>
    <div class="d-flex flex-wrap">
        {{#each userRecipes as |recipe|}}
        {{>recipe-preview}}
        {{/each}}
    </div>
</div>

<div>
    <p>Your favorites</p>
    <div class="d-flex flex-wrap">
        {{#each favorites as |favorite|}}
        {{>favorite-preview}}
        {{/each}}
    </div>
</div>
