<div class="d-flex justify-content-between mt-5">
    <p class="fs-2">Your Dashboard</p>
    <a href="/newrecipe" class="btn btn-success my-auto">Add a new recipe</a>
</div>


<div>
    <p class="fs-4">Your Favorites:</p>
    <div class="d-flex flex-wrap">
        {{#each favorites as |favorite|}}
        {{>favorite-preview}}
        {{/each}}
    </div>
</div>


<div>
    <p class="fs-4">Your Recipes:</p>
    <div class="d-flex flex-wrap">
        {{#each userRecipes as |recipe|}}
        {{>recipe-preview}}
        {{!-- <a href="">Edit</a> --}}
        {{/each}}
    </div>
</div>

