<div class="card rounded-5 my-4 p-3">
    <div class="d-flex flex-wrap">
        <p class="fs-2 my-auto">Jared Morrison</p>
        <p class="my-auto ms-3"><i class="fa-solid fa-star checked"></i>5</p>
    </div>
    <div class="d-flex flex-wrap justify-content-between">

    </div>
    <div class="d-flex flex-wrap">
        <p class="fw-semibold my-auto">Tags:</p>
        <p class="mx-2 my-auto">Web Developer</p>
        <p class="mx-2 my-auto">Soft Skills</p>
        <p class="mx-2 my-auto">Leadership</p>
    </div>
    <hr />
    <div class="d-flex flex-wrap">
        <div class="col-xl-4 mx-auto">
            <img src="./Assets/jared.jpg" class="card-img-top" alt="" style="width: 100%; height: auto;" />
        </div>
        <div class="col-xl-7 p-3 mx-auto">
            <p class="card-text">Hey there! 👋 I'm a full-stack web development
                student on a mission to create awesome digital experiences. I learn
                fast, stay dedicated, and geek out on all things coding. Whether it's
                crafting sleek front-end interfaces with HTML, CSS, and JavaScript, or
                diving into the nitty-gritty of back-end magic with Node.js, I'm all in.
                I love tackling challenges head-on and turning them into cool solutions.</p>

            <div>
                <p>Skills:</p>
                <ul>
                    <li class="list-group-item"><i class="fa-solid fa-check"></i>&nbsp;JavaScript</li>
                    <li class="list-group-item"><i class="fa-solid fa-check"></i>&nbsp;CSS</li>
                    <li class="list-group-item"><i class="fa-solid fa-check"></i>&nbsp;HTML</li>
                </ul>
            </div>
            <div class="my-5">
                <p class="fw-semibold">Contact me at one of the links below!</p>
            </div>
        </div>

        <div class="d-flex flex-wrap justify-content-center w-100">
            <p class="fw-semibold my-auto mx-2">Follow me on:</p>
            <a href="https://github.com/jradmorrison"><button class="btn btn-primary mx-2">GitHub</button></a>
            <a href="https://www.linkedin.com/in/jradmorrison/"><button
                    class="btn btn-primary mx-2">LinkedIn</button></a>

        </div>
    </div>
</div>