<div class="col-md-8 mx-auto my-5 p-5">
    <p class="fs-1 fw-semibold">The Team:</p>
    <hr />
    <div>
        <p class="fs-6"><span class="fs-4">Brandon Barnes - </span>Your text here</p>
        <div class="d-flex gap-3">
            <p>Follow me on:</p>
            <a href="https://github.com/" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/" target="_blank">LinkdIn</a>
        </div>
    </div>
    <div>
        <p class="fs-6"><span class="fs-4">Kurt Riecken - </span>Your text here</p>
        <div class="d-flex gap-3">
            <p>Follow me on:</p>
            <a href="https://github.com/" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/" target="_blank">LinkdIn</a>
        </div>
    </div>
    <div>
        <p class="fs-6"><span class="fs-4">Jared Morrison - </span>Hey there! 👋 I'm
            a full-stack web development student on a mission to create awesome
            digital experiences. I learn fast, stay dedicated, and geek out on all
            things coding. Whether it's crafting sleek front-end interfaces with HTML,
            CSS, and JavaScript, or diving into the nitty-gritty of back-end magic
            with Node.js, I'm all in. I love tackling challenges head-on and turning
            them into cool solutions.</p>
        <div class="d-flex gap-3">
            <p>Follow me on:</p>
            <a href="https://github.com/jradmorrison" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/jradmorrison/" target="_blank">LinkdIn</a>
        </div>
    </div>
</div>