<div class="col-md-8">
    <p class="fs-1 fw-semibold border-bottom border-dark">The Team:</p>
    <div>
        <p class="fs-2">Brandon Barnes</p>
        <p></p>
    </div>
    <div>
        <p class="fs-2">Kurt Riecken</p>
        <p></p>
    </div>
    <div>
        <p class="fs-2">Jared Morrison</p>
        <p></p>
    </div>
</div>