<div class='col-md-8 mx-auto my-5 py-5'>
  <p class='fs-1 fw-semibold'>The Team:</p>
  <hr />

  <div class='d-flex flex-wrap justify-content-center'>
    <div class='card m-3 col-lg-3 col-md-4'>
      <a href='/brandonbarnes'>
        <img src='./Assets/Brandon_Barnes.png' class='card-img-top' alt='Brandon Barnes' />
        <div class='card-body'>
          <p class='card-title'>Brandon Barnes&nbsp; 5<i class='fa-solid fa-star checked'></i></p>
        </div>
      </a>
    </div>

    <div class='card m-3 col-lg-3 col-md-4'>
      <a href='/kurtriecken'>
        <img src='./Assets/Kurt_Riecken.jpg' class='card-img-top' alt='Kurt Riecken' />
        <div class='card-body'>
          <p class='card-title'>Kurt Riecken&nbsp; 5<i class='fa-solid fa-star checked'></i></p>
        </div>
      </a>
    </div>
    
    <div class="card m-3 col-lg-3 col-md-4">
      <a href="/jaredmorrison">
        <img
          src="./Assets/jared.jpg"
          class="card-img-top"
          alt="Jared Morrison"
        />
        <div class="card-body">
          <p class="card-title">Jared Morrison&nbsp; 5<i
              class="fa-solid fa-star checked"
            ></i></p>
        </div>
      </a>
    </div>
  </div>

</div>