* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --accent-color: #fff;
  --gradient-color: #fbfbfb;
}

body {
  font-family: 'Lato', sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */

  background-image: linear-gradient(-45deg, #eeede9 0%, #fffcec 100%);
}

a {
  text-decoration: none;
}

.scrolling-div {
  height: 90%;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrolling-div::-webkit-scrollbar {
  width: 6px;
}

.scrolling-div::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.card a {
  color: black;
}

.sidebar {
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 100;
}

.sidebar header {
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}

.sidebar a {
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all 0.5s ease;
}

.sidebar a.active,
.sidebar a:hover {
  border-left: 5px solid var(--accent-color);
  color: #fff;
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}

.sidebar a i {
  font-size: 23px;
  margin-right: 16px;
}

.sidebar a span {
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* .brown-bg {
  background-color: #beae83;
} */

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #8a8a5d;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #ffffaf;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    3.5px 3.5px 20px 0px rgba(0, 0, 0, 0.1), 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  line-height: 45px;
  transition: all 0.5s ease;
}

label #cancel {
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}

#check:checked ~ label #cancel {
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

#maincard {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(../../Assets/background.png);
  background-position: center;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 860px) {
  .sidebar {
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }

  header,
  #btn,
  #cancel {
    display: none;
  }

  span {
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
    width: 100px;
  }

  .sidebar a {
    height: 60px;
  }

  .sidebar a i {
    margin-left: -10px;
  }

  .sidebar a:hover {
    width: 300px;
    background: inherit;
    color: black;
  }

  .sidebar a:hover span {
    opacity: 1;
    visibility: visible;
  }
}

/* .sidebar>a.active,
.sidebar>a:hover:nth-child(even) {
  --accent-color: #7CE1FF 0%;
  --gradient-color: #c1b1f7;
} */

/* .sidebar a.active,
.sidebar>a:hover:nth-child(odd) {
  --accent-color: #c1b1f7 0%;
  --gradient-color: #A890FE;
} */

.sidebar a.active,
.sidebar > a:hover {
  --accent-color: #c1b1f7 0%;
  --gradient-color: #a890fe;
}

.dropdownmenu {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0px 3rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dropdown {
  width: 100%;
  background-color: white;
  border-radius: 0px;
  border-top: 1px solid rgb(187, 187, 187);
  cursor: pointer;
  color: black;
}
.dropdown:hover {
  background-color: rgb(238, 238, 238);
  scale: 101%;
}

.dropdown p {
  padding: 2.5px 15px;
  margin: 0px;
}

.add-to-favorites-btn {
  opacity: 0;
  transition: opacity 1s;
}

.add-to-favorites-btn.loaded {
  opacity: 1;
}

.profile {
  width: 250px;
  height: 50px;

  display: flex;

  position: absolute;
  top: 25;
  right: 25;
}

.profile:hover {
  scale: 105%;
}
.profile .bar {
  position: absolute;
  top: 12.5px;
  height: 50px;
  width: 100%;
  border-radius: 50px;
  border: 4px solid #000;
  background: #bdd0ff;

  display: flex;
  align-items: center;
}

.profile .bar p {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  margin: 0;
  color: #000;
  font-weight: bolder;
}
.profile .bar .login-center {
  text-align: center;
  font-size: 32px;
}

.profile .bubble {
  position: absolute;
  right: 0;
  top: 0;
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: 4px solid #000;
  background: #bdd0ff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile i {
  color: black;
  font-size: 50px;
  margin-bottom: 5px;
}

#main-header {
  color: white;
}

#main-header {
  color: white;
}
